.details-container {
  background-color: black;
}

.about-me-title {
 color: orange;
 background-color: yellow;
 border: solid 5px orange;
 padding: 5px;
}

.about-me-ruler {
  background-color: orange;
}

.bottom-details-ruler {
  margin-bottom: 0;
}