
.nav-bar {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column nowrap;
  height: fit-content;
  justify-content: center;
  position: fixed;
  top: -86px; /* menu-symbol-container height - nav-bar total height */
  width: inherit;
  line-height: 10px;
  border-bottom: dotted 1px rgb(255, 136, 0);
  outline: solid 5px black;
  overflow: hidden;
  z-index: 20;
}

.nav-bar-link-container {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-bracket {
  color: orange;
  cursor: default;
  font-size: 3em;
  margin: 0 20px;
  user-select: none;
}

.nav-bar-link {
  align-items: center;
  border-radius: 10px;
  border: solid 3px transparent;;
  color: white;
  cursor: default;
  display: flex;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  padding: 0 30px;
  text-decoration: none;
  user-select: none;
}

.nav-bar-link:hover {
  border-right: solid 3px orange;
  border-left: solid 3px orange;
  color: orange;
}

.nav-bar-link:active {
  border-left: solid 3px white;
  border-right: solid 3px white;
  color: white;
}

.menu-symbol-container {
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30px;
}

.menu-symbol {
  margin-bottom: 10px;
}

.flag-selector-container {
  display: flex;
  position: absolute;
  right: 20px;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.flag-selector {
  height: 70%;
  margin: 0 5px;
  border-radius: 5px;
  border: solid 2px black;
}

.flag-selector:hover {
  border: solid 2px orange;
}

@media screen and ( max-width: 960px ) {
  .nav-bar-link-container {
    flex-flow: column nowrap;
    
  }

  .nav-bar-link {
    padding: 20px;
    margin-bottom: 15px;
    font-size: 1.8em;
  }

  .nav-bar-bracket {
    display: none;
  }

  .menu-symbol-container {
    height: 40px;
  }

  .flag-selector-container {
    position: initial;
    height: 50px;
  }
}