.nutshell-section {
  background-image: url('../img/outdoor-light-bokeh-sky-night-city-335453-pxhere.com.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  width: 100%;
}

.nutshell-inner-container {
  align-items: center;
  background-image: linear-gradient(to top, rgb(0, 0, 0, 0.9) 10%, rgb(255, 166, 0, 0.2) 60%);
  display: flex;
  flex-flow: row wrap;
  height: inherit;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0;
  width: inherit;
}

.nutshell-container {
  width: 50%;
  padding-top: 100px;
  height: fit-content;
}

.avatar {
  background-image: url('../img/myImage.jpg');
  padding: 30%;
}

.avatar-container {
  max-width: 600px;
}

.about-me-container {
  color: white;
  height: fit-content;
  width: 80%;
}

.about-me-box-container {
  color: white;
  width: 95%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin: 20px;
  text-align: center;
  margin: auto;
}

.about-me-box {
  box-sizing: border-box;
  padding: 20px;
  flex-grow: 1;
  flex-basis: 30%;
  min-width: 230px;
  max-width: 400px;
  font-size: 1.2em;
  background-color: rgb(255, 266, 255, 0.3);
  border-radius: 15px;
}

.about-me-box-title {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .nutshell-container {
    width: 100%;
  }
}