.nutshell-section {
  width: 100%;
  height: fit-content;
  background-image: url('../img/outdoor-light-bokeh-sky-night-city-335453-pxhere.com.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nutshell-inner-container {
  width: inherit;
  height: inherit;
  min-height: 100vh;
  padding: 100px 0;
  background-image: linear-gradient(to top, rgb(0, 0, 0, 0.8), rgb(255, 166, 0, 0.2));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.nutshell-container {
  height: fit-content;
  padding-top: 100px;
  width: 50%;
}

.avatar {
  padding: 30%;
  background-image: url('../img/myImage.jpg');
}

.avatar-container {
  max-width: 600px;
}

.about-me-container {
  height: fit-content;
  color: white;
  width: 80%;
}

@media screen and (max-width: 900px) {
  .nutshell-container {
    width: 100%;
  }
}