body {
  background-color: black;
}

.project-outter-container {
  border: solid 2px orange;
  min-height: 400px;
  height: 92vh;
  margin: 40px auto 20px;
  width: 95%;
  position: relative;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;
}

.project-list-container {
  position: relative;
  border: solid 1px orange;
  min-height: 135px;
  width: 100%;
}

.project-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: scroll;
}

.project-selector {
  min-width: 100px;
  width: 100px;
  margin: 10px;
  border: dotted 2px orange;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: orange;
  z-index: 20;
  background-color: transparent;
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
}

.project-selector:hover {
  border-color: yellow;
  color: yellow;
}

.project-selector-selected {
  border-color: yellow;
  color: yellow;
}

.project-showcase-container {
  position: relative;
  border: solid 1px orange;
  width: 100%;
  height: 100%;
  min-height: 0;
  color: orange;
}

.project-showcase {
  width: 100%;
  height: 100%;
  padding: 20px 5%;
  box-sizing: border-box;
  margin: auto;
  overflow-y: scroll;
}

.project-show-container {
  border: dotted 3px transparent;
  border-color: orange transparent transparent transparent;
}

.params:first-child {
  color: orange;
}

.params:last-child {
  color: yellow;
}

.param-link {
  margin-bottom: 10px;
  border: solid 3px yellow;
  padding: 5px;
  text-align: center;
  display: block;
  width: fit-content;
  max-width: 80%;
  text-decoration: none;
  overflow-x: hidden;
  white-space: nowrap;
}

.param-link:hover {
  border: solid 3px white;
  color: white;
}

.bios-description {
  text-align: center;
  font-size: 1.2em;
}


.showcase-paragraph {
  color: white;
  line-height: 1.2em;
  font-size: 1.1em;
  text-align: justify;
  font-family: 'Inconsolata', monospace;
}

.project-list::-webkit-scrollbar,
.project-showcase::-webkit-scrollbar {
  background-color: transparent;
  height: 10px;
  border: solid 1px orange;
}

.project-showcase::-webkit-scrollbar {
  width: 8px;
}

.project-list::-webkit-scrollbar-thumb,
.project-showcase::-webkit-scrollbar-thumb {
  background-color: orange;
}

/* Poligons */

.project-edge-poligon {
  border: solid 6px transparent;
  width: 80px;
  height: 80px;
  position: absolute;
}

.showcase-edge-poligon {
  border: solid 3px transparent;
  width: 40px;
  height: 40px;
  position: absolute;
}

.project-edge-poligon-top-left {
  top: 0;
  left: 0;
  border-color: orange transparent transparent orange;
}

.project-edge-poligon-top-right {
  top: 0;
  right: 0;
  border-color: orange orange transparent transparent;
}

.project-edge-poligon-bottom-left {
  left: 0;
  bottom: 0;
  border-color: transparent transparent orange orange;
}

.project-edge-poligon-bottom-right {
  right: 0;
  bottom: 0;
  border-color: transparent orange orange transparent;
}